/* Importo todos los _scss asociados al proyecto */
/*******************************************************************/
/**************************   CSS RESET   **************************/
/*******************************************************************/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.row {
  margin: 0px !important;
}

/*******************************************************************/
/************************   VARIABLES.HTML   ***********************/
/*******************************************************************/
/* GENERAL */
/* CONTACTO */
/*******************************************************************/
/***************************   GENERAL   ***************************/
/*******************************************************************/
/* BODY */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: bisque;
}
body::before {
  content: "";
  background-image: url("../img/fondo-contacto.jpg");
  background-size: cover;
  position: fixed;
  background-position: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
  z-index: -1;
}

/* HEADER */
.logo {
  width: 50px;
}

/* MAIN */
.sectionPadding {
  padding-top: 73px;
  padding-bottom: 73px;
  border: solid 10px rgb(14, 15, 50);
}

h2 {
  background: linear-gradient(90deg, bisque, rgb(14, 15, 50), rgb(14, 15, 50), bisque);
  color: aliceblue;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  margin: 20px 0px;
  z-index: 1;
}

h3 {
  background: linear-gradient(90deg, bisque, rgb(145, 148, 252), rgb(145, 148, 252), bisque);
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: initial;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0px;
  z-index: 1;
}

.buttonFont {
  font-family: sarif;
  font-size: large;
}

/* FOOTER */
.redSocial {
  width: 28px;
  height: 16px;
  color: #ffffff;
}

/*******************************************************************/
/*************************   INDEX.HTML   **************************/
/*******************************************************************/
.sectionIndex {
  padding-top: 73px;
  border: solid rgb(14, 15, 50);
  border-width: 0px 10px 0px 10px;
  background-color: rgb(14, 15, 50);
}

.video {
  width: 100%;
  height: 95vh;
}

/*******************************************************************/
/**********************   ULTIMO-DISCO.HTML   **********************/
/*******************************************************************/
.ultimoDiscoParrafo {
  text-align: justify;
  line-height: 30px;
}

.ultimoDiscoBold {
  font-weight: bold;
}

.ultimoDiscoItalic {
  font-style: italic;
}

/*******************************************************************/
/*********************   PROXIMOS-SHOWS.HTML   *********************/
/*******************************************************************/
.bgShows {
  background-color: rgb(14, 15, 50);
}
.bgShows h2 {
  color: rgb(14, 15, 50);
  background: linear-gradient(90deg, rgb(14, 15, 50), bisque, bisque, rgb(14, 15, 50));
}
.bgShows h3 {
  color: rgb(14, 15, 50);
  background: linear-gradient(90deg, rgb(145, 148, 252), bisque, bisque, rgb(145, 148, 252));
}
.bgShows a {
  background-color: rgb(255, 208, 150);
  font-weight: bold;
}

.bgDegrade {
  border-top: 2px solid rgb(14, 15, 50);
  background: linear-gradient(180deg, rgb(145, 148, 252) 90%, rgb(14, 15, 50));
}

.proximosShowsBold {
  font-weight: bold;
}

.proximosShowsItalic {
  font-style: italic;
}

@media (max-width: 600px) {
  .proximosShowsItalic {
    font-size: small;
  }
}
/* Botones de compra de entradas */
.showsModalHeader {
  background-color: rgb(137, 152, 177);
}
.showsModalHeader h2 {
  font-weight: bold;
}

.showsModalBody,
.showsModalFooter {
  background-color: rgb(240, 242, 245);
}

/*******************************************************************/
/**************   CSS PROCESO DE COMPRA DE ENTRADAS   **************/
/*******************************************************************/
.mainCarrito {
  padding-top: 73px;
}
.mainCarrito h1 {
  margin: 20px;
  color: rgb(14, 15, 50);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.mainCarrito h4 {
  line-height: 1.8;
  text-align: justify;
}
.mainCarrito #loginForm label {
  font-weight: bold;
}
.mainCarrito #loginForm button {
  font-weight: bold;
  text-align: center;
}

/*******************************************************************/
/*************************   DISCOS.HTML   *************************/
/*******************************************************************/
.discoHover:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.6s;
}

.discosMargin {
  margin-bottom: 5px;
  cursor: pointer;
}

.discosBold {
  font-weight: bold;
}

.discosItalic {
  font-style: italic;
}

/* Setlist Modal */
.discosModalHeader {
  background-color: rgb(137, 152, 177);
}
.discosModalHeader h4 {
  font-weight: bold;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.discosModalBody {
  background-color: rgb(240, 240, 245);
  max-height: 500px;
}
.discosModalBody ol li {
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
}

.discosModalFooter {
  background-color: rgb(202, 209, 222);
}
.discosModalFooter button {
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*******************************************************************/
/***********************   BIOGRAFIA.HTML   ************************/
/*******************************************************************/
.bgBiografia {
  background-color: rgb(14, 15, 50);
}
.bgBiografia h2 {
  color: rgb(14, 15, 50);
  background: linear-gradient(90deg, rgb(14, 15, 50), bisque, bisque, rgb(14, 15, 50));
}

.banner {
  min-width: 100%;
  min-height: 50px;
}

.biografiaParrafo {
  text-align: justify;
  line-height: 30px;
  color: aliceblue;
}

/*******************************************************************/
/************************   CONTACTO.HTML   ************************/
/*******************************************************************/
.formBold {
  font-weight: bold;
}

/*******************************************************************/
/************************   MEDIA QUERIES   ************************/
/*******************************************************************/
/*******************************************************************/
/************************   CONTACTO.HTML   ************************/
/*******************************************************************/
@media (max-width: 400px) {
  .formContacto {
    min-width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
