/*******************************************************************/
/***************************   GENERAL   ***************************/
/*******************************************************************/

/* BODY */

body {
    &::before {
        content: "";
        background-image: url('../img/fondo-contacto.jpg');
        background-size: cover;
        position: fixed;
        background-position: center;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.1;
        z-index: -1;
    }

    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
    background-color: bisque;
}

/* HEADER */

.logo {
    width: 50px;
}

/* MAIN */

h1 {
    background: $title-bg;
    color: $title-color;
    text-align: $title-align;
    text-transform: $title-uppercase;
    font-weight: $title-bold;
    padding: 20px;
    margin: 20px 0px;
    z-index: 1;
}

h3 {
    background: $subtitle-bg;
    color: $subtitle-color;
    text-align: $title-align;
    text-transform: initial;
    font-weight: $title-bold;
    padding: 10px;
    margin: 10px 0px;
    z-index: 1;
}

@mixin justifyText {
    text-align: justify;
    line-height: 30px;
}

@mixin boldText {
    font-weight: bold;
}

@mixin italicText {
    font-style: italic;
}

@mixin marginBottom ($mb) {
    margin-bottom: $mb;
}

.buttonFont {
    font-family: $button-font;
    font-size: $button-font-size;
}

/* FOOTER */

.redSocial {
    width: 28px;
    height: 16px;
    color: #ffffff;
}