/*******************************************************************/
/*************************   INDEX.HTML   **************************/
/*******************************************************************/

.video {
    top: 73px;
    position: absolute;
    width: 100%;
    min-height: 88%;
}